html {
  background: url(../images/art.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img:hover {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
}

.row {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    /* background: url(../images/art.png); */
    background-repeat: no-repeat;
    background-size: inherit;
    height: 100%;
    text-shadow: 2px 2px #555; 
}

.bg {
    /* The image used */
    /* background: url(../images/art.png); */

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}