/* html {
  background: url(../images/art.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

img:hover {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    cursor: pointer;
}

.row {
    margin-top: 0;
    margin-bottom: 0;
}

body {
    /* background: radial-gradient(circle farthest-side, #26D0CE,#1FA2FF); */
    background: #0e1111;
    height: 100%;
    /* text-shadow: 2px 2px #555;  */
    /* text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ; */
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 30px #00ffff , 0 0 60px #00ffff , 0 0 70px #00ffff , 0 0 70px #00ffff ;
    font-family: 'VT323', monospace;
}